$black: #222;
$black-2nd-layer: lighten($black, 5%);
$gray: lighten($black, 30%);
$gray-light: lighten($black, 60%);
$gray-white: lighten($black, 80%);

$green: #a8d8b6;
$green-dark: darken($green, 30%);

$blue: #8bbbe1;
$blue-dark: darken($blue, 10%);
$blue-darkest: darken($blue, 20%);

$welcome_blue: #84b1ed;
$shadow_gray: rgba(4, 6, 9, 0.25);
$cape_blue: #3f4040;

$succes_green: #5cb85c;
$hover_green: #4cae4c;
