@import 'settings';

html, body, .container {
    background-image: none;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: $black;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}
