@import 'settings';

.assignment_nav {
	position: fixed;
	bottom: 3%;
	left: 12%;
	width: 75%;
	padding: 14px;
	overflow:hidden;
	background-color: $cape_blue;
	border-radius: 15px;
	box-shadow: 0 0 57px 0 $shadow_gray;
	h2 {
		color: #FFF;
		font-size: 30px;
		position: relative;
		text-align: center;
	}
	button {
    float: right;
  	background-color: $hover_green;
		position: relative;
		margin-top: -75px;
	  border: none !important;
	  outline: none !important;
	  border-radius: 14px;
	  padding: 17px 35px;
	  font-size: 23px;
	  color: #fff;
	  text-decoration: none !important;
	  text-align: center;
		cursor:pointer;

	}
}
