@import 'settings';

.Editor {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    flex: 1;

    .codePanels {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .panel {
            display: flex;
            flex: 1;
            flex-direction: column;
            max-width: 33.33%;
        }

        .language {
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $black-2nd-layer;
            font-size: 14px;
            border-right: 1px solid $gray;
            color: $gray-light;
        }

        .panel:last-child {
            .language {
                border: none;
            }
        }
    }

    .ReactCodeMirror {
        display: flex;
        flex: 1;
    }

}
