@import 'settings';

.Editor {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    flex: 1;

    .codePanels {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .ReactCodeMirror {
        display: flex;
        flex: 1;
        max-width: 33.33%;
    }

}
