@import 'settings';

.Messagebar {

    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;

    background-color: #a8d8b6;
    color: black;

    .message {
        color: black;
        flex: 1;
        padding-left: 10px;
    }
    .assignment {
      padding-top: 5px;
      color: black;
        flex: 1;
    }
}
