@import 'settings';

.Messagebar {

    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;

    background-color: #e1eef6;
    color: black;

    .message {
        color: black;
        flex: 1;
        padding-left: 10px;
    }
    .assignment {
      padding-top: 5px;
      color: black;
      flex: 1;
      font-weight: bold;
      font-size: 16px;
    }
}
