.Preview {

    display: flex;
    flex:1;
    flex-direction: column;
    align-items: stretch;

    border-top:1px solid lightgray;

    .iframe-container {
      display: flex;
      flex:1;
    }

    iframe {
        flex: 1;
    }

}
