html, body {
  background-color: #84B1ED;
}
.welcome-box {
   margin-top: 150px;
 }
.welcome-box h1 {
   padding-left: 50px;
 }

.fadeInDownBig{
  animation-duration: 3.5s;
}

.topschool-logo{
  padding-top: 20px; 
}
.topschool-logo img {
  border-radius: 15px;
  width: 77%;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}
