html, body {
  background-color: #84B1ED;
}

.welcome-box {
   margin-top: 120px;
 }
.welcome-box h1 {
   padding-left: 50px;
   font-weight: 800;
 }

.bounceInDown{
  animation-duration: 1.3s;
}

.swing {
  animation-delay: 0.7s;
  animation-duration: 1s;
}

.topschool-logo{
  padding-top: 20px;
}
.topschool-logo img {
  border-radius: 15px;
  width: 77%;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}

.continue-bar {
  width: 75%;
  margin-left: 120px;
  margin-top: 270px;
  padding: 20px;
  text-align: center;
  background-color: #3f4040;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
}
.continue-bar h2 {
  color: #fff;
}
.continue-bar h2 span {

}
.continue-bar a {
  margin-top: -52px;
  position:relative;
  float:right;
}

.bounceInLeft {
  animation-delay: 2.7s;
  animation-duration: 1.3s;
}
.flash {
  animation-delay: 4s;
  animation-duration: .7s;
}
.shake {
  animation-delay: 4s;
}
